/*  */



/*  */
.help{
   position: relative;
   width: 100%;
   padding-top: 160px;
}
.ub1_c .help{padding-top:0}
@media (max-width: 480px) {
   .ub1_c .help{padding-top:80px}
}

.hepl_c{
	width: 100%;
	position: relative;
}
.hepl_c > div {margin-bottom:15px}
.hepl_c h3, .hepl_c h5, .hepl_c p{padding:10px 0}
.hepl_c a{
	color: var(--cl);
	transition: var(--tm);
}
.hepl_c a:hover{color:var(--red)}



















/*  */
.uitemc_u{
	position: sticky;
	z-index: 12;
	top: 74px;
	left: 0;
	transition: .3s;
	background: var(--wh);
	width: 100%;
	height: 54px;
	margin-bottom: 30px;
	border-bottom: 1px solid var(--gr3);
	position: relative;
	top: auto;
}
.uitemc_u_act{}
@media (max-width: 500px) {
	.uitemc_u{
		width: calc(100% + 60px);
		margin: 0 -30px 30px -30px;
		padding: 0 30px;
	}
}

.uitemc_um{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.uitemc_u_act .uitemc_um{}
@media (max-width: 500px) {
	.uitemc_um{justify-content:space-around}
}

.uitemc_umi, .uitemc_umid{
   position: relative;
	width: auto;
	height: 100%;
	margin-right: 30px;
	margin-bottom: -1px;
	padding: 0 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--bl);
   border-bottom: 1px solid var(--tr);
	cursor: pointer;
	transition: .3s;
	font-size: 14px;
}
.uitemc_umi:hover, .uitemc_umid:hover{color:var(--cm)}
.uitemc_umi_act{border-bottom-color:var(--cm);color:var(--cm)}
.uitemc_u_act .uitemc_umi{}
@media(max-width:500px){
	.uitemc_umi, .uitemc_umid{
		cursor: text;
		max-width: calc(100% / 3);
		justify-content: flex-start;
		margin-right: 0;
	}
}

.uitemc_umi div, .uitemc_umidl div{
	position: relative;
	margin-right: 12px;
}
.uitemc_umi span, .uitemc_umidl span{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap; 
}
@media(max-width:500px){
	.uitemc_umi div, .uitemc_umidl div{margin-right:10px}
}
.uitemc_umi p{
	position: relative;
	width: 18px;
	min-width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	border-radius: 50%;
	background: var(--cm);
	color: var(--wh);
	margin-left: 10px;
	padding-top: 1px;
}


.uitemc_umidl{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.uitemc_umidc{
	position: absolute;
	top: 50px;
	right: calc(50% - 60px);
	width: 300px;
	background: var(--wh);
	border-radius: 18px;
	-webkit-box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
	box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
	z-index: 3;
	opacity: 0;
	visibility: hidden;
}
.uitemc_umid_act .uitemc_umidc{
	opacity: 1;
	visibility: visible;
}
.uitemc_umidc::after{
	content: '';
	position: absolute;
	top: -8px;
	right: 40px;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	background: var(--wh);
	-webkit-box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
	box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
}

.uitemc_umidcs{
	position: relative;
	width: 100%;
	z-index: 10;
	background: var(--wh);
	border-radius: 18px;
	overflow: hidden;
}

.uitemc_umidc .uitemc_umi{
	position: relative;
	width: 100%;
	max-width: 100%;
	min-height: 54px;
	padding: 0 30px;
	border-bottom: 1px solid var(--gr1);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.uitemc_umidc .uitemc_umi:first-child {
	height: calc(54px + 10px);
	padding-top: 5px;
}
.uitemc_umidc .uitemc_umi:last-child {
	height: calc(54px + 10px);
	padding-bottom: 5px;
	border-bottom: 0;
}
.uitemc_umidc .uitemc_umi:hover{
	background: var(--cm1);
	color: var(--bl);
}
.uitemc_umidc .uitemc_umi div{
	position: relative;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
}
@media(max-width:500px){.uitemc_umidc .uitemc_umi div{margin-right:15px}}

.uitemc_umidc .uitemc_umi span{
	position: relative;
	width: calc(100% - 34px - 15px);
	font-size: 16px;
	font-weight: 400;
}

